body {
  background-image: url(../img/img_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "DM Sans";
}

.bar {
  color: #ffffff;
  background-color: #474747;
  padding: 9px 154.316px 8.829px 150px;
  display: flex;
  justify-content: space-between;
}

.contact {
  padding-top: 4.5px;
}

.contact ul {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}

.contact li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon ul {
  display: flex;
  gap: 4px;
}

.header {
  background-color: #ffffff;
  width: 100%;
  height: 90px;
}

.header img {
  width: 400px;
  justify-content: flex-start;
  margin-left: 150px;
  padding-top: 15px;
}

.header {
  display: flex;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 125px;
}

.icon a:hover {
  opacity: 0.5;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.nav a {
  text-decoration: none;
  color: #474747;
  padding: 8px 13px;
  margin: 5px;
  display: inline-block;
}

.nav a:hover {
  display: inline-block;
  align-items: center;
  border-radius: 34px;
  background: #dbdfd0;
  font-weight: bold;
  transition-property: all;
  transition-duration: 450ms;
  transition-timing-function: ease;
  transition-delay: 0ms;
}

.reserve button {
  width: 112px;
  height: 48px;
}

.reserve {
  width: 112px;
  height: 48px;
  line-height: 48px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
  border-radius: 118px;
  border: 2px solid var(--neutral-07, #2c2f24);
  font-weight: bold;
}

.reserve :hover {
  width: 112px;
  height: 48px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 118px;
  font-weight: bold;
  background-color: #474747;
  color: #ffffff;
  transition-property: all;
  transition-duration: 180ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.title {
  color: var(--neutral-07, #2c2f24);
  text-align: center;
  font-family: "Playfair Display";
  font-size: 90px;
  font-style: normal;
  line-height: 96px;
  margin-top: 120px;
}

.content {
  width: 100%;
  color: var(--neutral-07, #2c2f24);
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  line-height: 32px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.main-button {
  display: flex;
  justify-content: center;
  margin-top: 58px;
  gap: 15px;
}

.main-button button {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 60px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  color: var(--neutral-07, #182226);
  font-weight: bold;
  background-color: transparent;
  border-radius: 118px;
  border: 2px solid var(--neutral-07, #2c2f24);
}

.main-button button:hover {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  background-color: #ad343e;
  border-radius: 118px;
  border: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}
